<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC9LdhTuykgfyKxoTRhgp6KH3ctXOkHzdk</string>
	<key>GCM_SENDER_ID</key>
	<string>33787728039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.transactionsApp</string>
	<key>PROJECT_ID</key>
	<string>code-catalysts</string>
	<key>STORAGE_BUCKET</key>
	<string>code-catalysts.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33787728039:ios:dff666d0bcca6e55b74b82</string>
</dict>
</plist>